<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>consumer home</title>
</head>
<body>
<h1>Welcome, <span th:utext="${session.user.getUsername()}"></span></h1>

<a th:href="@{/consumer/products}">查看所有商品</a><br>
<a th:href="@{/consumer/cart}">查看购物车</a><br>
<a th:href="@{/consumer/order}">查看订单</a><br>
<a th:href="@{/consumer/bank}">充值入口 地址修改</a><br>
<a th:href="@{/consumer/personal}">查看个人信息</a><br>
<a th:href="@{/logout}">登出</a><br>
</body>
</html>

