<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单</title>
</head>
<body>
<div id="order">
    <table>
        <tr>
            <th colspan="6">订单列表</th>
        </tr>
        <tr>
            <th>列表号</th>
            <th>商品编号</th>
            <th>目的地</th>
            <th>订单状态</th>
            <th>下单时间</th>
            <th>操作</th>
        </tr>
        <tr th:each="order,status : ${orders}">
            <td th:text="${status.count}"></td>
            <td th:text="${order.productId}"></td>
            <td th:text="${order.destination}"></td>
            <td th:text="${order.state}"></td>
            <td th:text="${#temporals.format(order.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a th:href="@{'/consumer/details/'+${order.productId}}">商品详情</a>
                <a @click="cancelOrder()" th:href="@{'/consumer/order/delete/'+${order.productId}}">取消订单</a>
            </td>
        </tr>
    </table>

    <form method="post"></form>

    <br>
    <a th:href="@{/consumer/home}">back to home</a>
</div>

<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript">
    var vue = new Vue({
        el:"#order",
        methods:{
            cancelOrder(){
                //获取form表单
                var form = document.getElementsByTagName("form")[0];
                //将超链接的href属性值赋值给form表单的action属性
                //event.target表示当前触发事件的标签
                form.action = event.target.href;
                //表单提交
                form.submit();
                //阻止超链接的默认行为
                event.preventDefault();
            }
        }
    })
</script>

</body>
</html>