<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品列表</title>
</head>
<body>

<table>
  <tr>
    <th colspan="5">商品列表</th>
  </tr>
  <tr>
    <th>列表号</th>
    <th>商品标题</th>
    <th>价格</th>
    <th>库存</th>
    <th>操作</th>
  </tr>
  <tr th:each="product,status : ${products}">
    <td th:text="${status.count}"></td>
    <td th:text="${product.title}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.stock}"></td>
    <td>
      <a th:href="@{'/consumer/details/'+${product.id}}">查看详情</a>
      <a th:href="@{'/consumer/cart/'+${product.id}}">加入购物车</a>
    </td>
  </tr>
</table>


<a th:href="@{/consumer/home}">back to home</a>

</body>
</html>